//colors

$text-dark: #212121;
$text-paragraph: #444;
$text-light: #b6b6b6;
$text-lightest:#fff;
$footer-text-color:#727272;
$hove-color:  #ff5722;

//background

$backrgound-white: #fff;
$backrgound-light-grey: #f5f5f5;
$footer-main: $text-dark;
$footer-secandary: